<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app" v-once>
<!--      <child-one v-if="type === 'child-one'"></child-one>-->
<!--      <child-two v-if="type === 'child-two'"></child-two>-->
      <component :is="type"></component>
      <button @click="handleclick">change</button>
    </div>
<script>
    Vue.component("child-one",{
        template:"<div>child-one</div>"
    })
    Vue.component("child-two",{
        template:"<div>child-two</div>"
    })
    var vm = new Vue({
        el: "#app",
        data:{
          type: "child-one"
        },
        methods:{
          handleclick(){
            this.type = this.type === "child-one" ? "child-two" : "child-one"
          }
        }
    })
</script>
</body>
</html>
